@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #90ee90;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,238,123,1) 44%, rgba(0,212,255,1) 100%);
}
/*
  #1C94D9 
  #8C560D
  #D9881C - pricipal (ja)
   #00A2FF - menos importante (ja)
*/