@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #D9881C;
}
/*
  #1C94D9 
  #8C560D
  #D9881C - pricipal (ja)
   #00A2FF - menos importante (ja)
*/